* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-y: scroll;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 50px;
    background-color: rgba(68, 88, 133, 0.81);
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.navigationBar {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: right;
    letter-spacing: 2.5px;
    text-decoration: none;
}

.navigationBar li {
    margin: 10px;
    background: none;
}

.navigationBar li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.navigationBar a:hover {
    color: rgba(22, 63, 163, 0.67);
}

main {
    background-color: rgba(97, 95, 95, 0.7);
    flex: auto;
}

.kontaktInfo {
    letter-spacing: 2.5px;
}

footer {
    background-color: rgba(68, 88, 133, 0.81);
    margin-top: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
}

